<html>
    <head>
        <title>Szczegóły</title>
        {% include "includes.html" %}
       <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body>
        {% include "navbar.html" %}
        <h1>{{ quest.question_text }}</h1>

        <ul>
        {% for choice_text in details %}
            {% if choice_text.votes %}
            <li style="background-color:#FF0000"> <b>{{ choice_text }}--Wybrano!</b></li>
            {% else %}
                <li>{{ choice_text }}</li>
            {% endif %}
        {% endfor %}
        </ul>

        <a href="{% url 'ankiety:detail' quest.id %}">Zmienić głos?</a>
    </body>
</html>