{% load static %}

<!DOCTYPE html>

<html>

    <head>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        {% if mode == "dark" %}
        <link rel="stylesheet" href="{% static 'darkstyle.css' %}">
        {% endif %}
        {% if mode == "white" %}
        <link rel="stylesheet" href="{% static 'whitestyle.css' %}">
        {% endif %}
        <title>Notatki</title>
        <script type="module" src="https://md-block.verou.me/md-block.js"></script>
        <style>
            input[type="checkbox"] {
                opacity: 1 !important;
            }
            textarea{
                height: 300px !important;
            }
        </style>
    </head>

    <body>
        
        <nav>
            <div class="nav-wrapper">
                <ul class="right">
                    <li><a href="/notatki/theme?mode=white" class='btn'>Jasny motyw</a></li>
                    <li><a href="/notatki/theme?mode=dark" class='btn'>Ciemny motyw</a></li>
                    <li><a href="../ankiety" class='btn'>Przejdź do ankiet</a></li>
                    <li><a href='{% url "index" %}' class='btn'>Przejdź do wydatków</a></li>
                    {% if user.is_superuser %}
                        <li><a href="../admin" class='btn'>Przejdź do administrowania</a></li>
                    {% endif %}
                    <li><a href='{% url "logout" %}' class='btn'>Wyloguj({{ user }})</a></li>
                </ul>
            </div>
        </nav>
        <br>
        <div>
            <button type="button" class="collapsible">Dodawanie notatki</button>
            <div class="content">
                                <form class="col s12" action='{% url "add note" %}' method='post' enctype="multipart/form-data">
                                        {% csrf_token %}
                                        {{ form.as_div }}
                                        <label>Podgląd:</label>
                                        <md-block id="preview"></md-block>
                                        <input type="submit" value="Dodaj notatkę" class="button">
                                </form>  
            </div> 
        </div>

                <div>
                        <table class="striped centered responsive-table">
                            <thead>
                                <tr>
                                    <th>Tytuł</th>
                                    <th>Data utworzenia</th>
                                    <th>Autor</th>
                                    <th>Treść</th>
                                    <th></th>
                                </tr>
                            </thead>

                            <tbody>
                                {% for notatka in note_list %}
                                <tr>
                                    <td>{{ notatka.title }}</td>
                                    <td>{{ notatka.date_added }}</td>
                                    {% if notatka.publicnote %}
                                    <td>{{ notatka.author }}</td>
                                    {% else %}
                                    <td><b>Prywatna</b></td>
                                    {% endif %}
                                    <!-- Edycja i usuwanie tylko jeśli jest to autor notatki -->
                                    {% if notatka.author == user %}
                                    <td><button type="button" class="collapsible">Wyświetl</button><div class="content"><md-block>{{ notatka.content }}</md-block><a href="{% url 'edit note' notatka.id %}">Edytuj</a>/<a href="{% url 'delete note' notatka.id %}">Usuń</a></div></td>
                                    {% else %}
                                    <td><button type="button" class="collapsible">Wyświetl</button><div class="content"><md-block>{{ notatka.content }}</md-block></div></td>
                                    {% endif %}
                                    <td></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                </div>
        <!-- funkcjonalność przycisku do chowania -->
        <script>
            var coll = document.getElementsByClassName("collapsible");
            var i;

            for (i = 0; i < coll.length; i++) {
                coll[i].addEventListener("click", function() {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
                if (content.style.display === "block") {
                    content.style.display = "none";
                } else {
                    content.style.display = "block";
                }
            });
        }
        </script>
        <!-- podgląd Markdown -->
        <script>
            var contentField=document.getElementById("id_content");
            var mdpreview=document.getElementById("preview");
            contentField.addEventListener('input', function() {
                mdpreview.mdContent=contentField.value
            });
        </script>
    </body>

</html>
